<div class="container mt-4">

  <%= cl_image_tag @cocktail.photo.key, height: 300, width: 400, crop: :fill %>

  <h1><%= @cocktail.name %></h1>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <p>Ingredients</p>
    <% @cocktail.doses.each do |dose| %>
     <p><%= dose.ingredient.name %> : <%= dose.description %>
     <i class="far fa-trash-alt"></i>
     <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure? This can't be undone" }%></p>
    <% end %>
    <ul>
      <li><i class="fas fa-plus"></i><span><%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail)%></span></li>
      <li><%= link_to "Delete this cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure you want to delete this cocktail?" } %></li>
      <li><i class="fas fa-redo"></i> <span><%= link_to "go back to list", cocktails_path %></span></li>
    </ul>
  </div>


</div>

