<div class="container mt-6">

  <h1><%= @cocktail.name %></h1>

  <% @cocktail.doses.each do |dose| %>
   <%= dose.ingredient.name %> : <%= dose.description %>
   <br>
   <%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }  %>
  <% end %>


  <%= link_to "delete this cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure you want to delete this cocktail?" }, class: "btn btn-danger" %>
  <%= link_to "add ingredient to cocktail", new_cocktail_dose_path(@cocktail) %>
  <%= link_to "go back to list", cocktails_path %>

</div>
