<div class="container mt-4">

  <h1><%= @cocktail.name %></h1>
  <%= link_to "go back to list", cocktails_path %>

  <div class="row">
    <div class="col-sm-12 col-md-6">
    <% @cocktail.doses.each do |dose| %>
     <p>Ingredients</p>
     <p><%= dose.ingredient.name %> : <%= dose.description %></p>
     <p><%= link_to "Delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure? This can't be undone" }%></p>

    <% end %>
     <%= link_to "Add an ingredient", new_cocktail_dose_path(@cocktail) %>
     <%= link_to "Delete this cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure you want to delete this cocktail?" }, class: "btn btn-danger" %>

    </div>
  </div>


</div>

